.calculator{
    height: 350px;
    width: 280px;
    background-color: #e8e8e8;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #777;


}
.main-bar{
    text-align: right;
    margin-bottom: 20px;
}

.btn{
    font-size: 20px;
    cursor: pointer;
    width: 60px;

}
.line{
    margin-top: 10px;
}
.last input{
    margin-top: 10px;
    width: 125px;
}
#input-text{
font-size: 20px;
font-weight: bold;

}